USE [StockTrackDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[userName] [nvarchar](50) NULL,
	[eMail] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Image] [varbinary](max) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[Sales_Id] [smallint] NULL,
	[Sale_Id] [smallint] NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Age] [tinyint] NOT NULL,
	[Wage] [decimal](18, 2) NOT NULL,
	[Department] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[Stock] [smallint] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ProdCat] [smallint] NOT NULL,
	[Categories_Id] [smallint] NULL,
	[Sales_Id] [smallint] NULL,
	[Sale_Id] [smallint] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sales]    Script Date: 5.01.2022 23:26:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Unit] [smallint] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Customer_Id] [smallint] NULL,
	[Product_Id] [smallint] NULL,
 CONSTRAINT [PK_dbo.Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Admins] ([Id], [Name], [Surname], [userName], [eMail], [Password]) VALUES (1, N'Kadir', N'YOLCU', N'kdr123', N'kdr@gmail.com', N'123123')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (1, N'TV')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (2, N'Computer')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (5, N'Consol')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Surname], [Email], [Phone], [Subject], [Message]) VALUES (1, N'Kadir', N'Yolcu', N'kadiryolcu57@gmail.com', N'0552', N'stok durumu', N'elinizde lenovo legion y540 var mı?')
INSERT [dbo].[Contacts] ([Id], [Name], [Surname], [Email], [Phone], [Subject], [Message]) VALUES (2, N'Kadir', N'Yolcu', N'kadiryolcu57@gmail.com', N'1232', N'stok durumu', N'stok durumu')
INSERT [dbo].[Contacts] ([Id], [Name], [Surname], [Email], [Phone], [Subject], [Message]) VALUES (3, N'Kadir', N'Yolcu', N'kadiryolcu57@gmail.com', N'1232', N'stok durumu', N'stok durumu')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Image], [PhoneNumber], [address], [Sales_Id], [Sale_Id]) VALUES (7, N'Kadir', N'Yolcu', NULL, N'0552', N'İstanbul', NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Name], [Surname], [Image], [PhoneNumber], [address], [Sales_Id], [Sale_Id]) VALUES (8, N'Hüseyin', N'Yolcu', NULL, N'0553', N'İstanbul', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Surname], [Age], [Wage], [Department]) VALUES (3, N'Kadir', N'Yolcu', 21, CAST(5000.00 AS Decimal(18, 2)), N'Software')
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Brand], [Stock], [Image], [Price], [ProdCat], [Categories_Id], [Sales_Id], [Sale_Id]) VALUES (1, N'Legion 540', N'Lenovo ', 1, N'/Photos/Product/1293776145425267629.png.png', CAST(5000.00 AS Decimal(18, 2)), 2, 2, NULL, NULL)
INSERT [dbo].[Products] ([Id], [Name], [Brand], [Stock], [Image], [Price], [ProdCat], [Categories_Id], [Sales_Id], [Sale_Id]) VALUES (2, N'Consol', N'Xbox', 8, N'/Photos/Product/24077060464516210591.png.png', CAST(900.00 AS Decimal(18, 2)), 3, 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [Unit], [Price], [Date], [Customer_Id], [Product_Id]) VALUES (1, 1, CAST(1200.00 AS Decimal(18, 2)), CAST(N'2021-12-25 00:00:00.000' AS DateTime), 7, 2)
INSERT [dbo].[Sales] ([Id], [Unit], [Price], [Date], [Customer_Id], [Product_Id]) VALUES (2, 1, CAST(5000.00 AS Decimal(18, 2)), CAST(N'2021-12-25 00:00:00.000' AS DateTime), 7, 1)
INSERT [dbo].[Sales] ([Id], [Unit], [Price], [Date], [Customer_Id], [Product_Id]) VALUES (3, 1, CAST(1200.00 AS Decimal(18, 2)), CAST(N'2021-12-02 00:00:00.000' AS DateTime), 7, 2)
SET IDENTITY_INSERT [dbo].[Sales] OFF
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Customers_dbo.Sales_Sale_Id] FOREIGN KEY([Sale_Id])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_dbo.Customers_dbo.Sales_Sale_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_Categories_Id] FOREIGN KEY([Categories_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_Categories_Id]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Sales_Sale_Id] FOREIGN KEY([Sale_Id])
REFERENCES [dbo].[Sales] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Sales_Sale_Id]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_dbo.Customers_Customer_Id] FOREIGN KEY([Customer_Id])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_dbo.Sales_dbo.Customers_Customer_Id]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Sales_dbo.Products_Product_Id] FOREIGN KEY([Product_Id])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Sales] CHECK CONSTRAINT [FK_dbo.Sales_dbo.Products_Product_Id]
GO
