@model StockTrackingProject.Models.Entity.Customer

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Update Customer</h2>

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
    <div class="container row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <label>Name</label>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "cannot be blank" })
            </div>

            <div>
                <label>Surname</label>
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @required = "cannot be blank" })
            </div>
            <div>
                <label>Phone Number</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @required = "cannot be blank" })
            </div>
            <div>
                <label>Adress</label>
                @Html.TextBoxFor(m => m.address, new { @class = "form-control", @required = "cannot be blank" })
            </div>

            <div>
                <button class="btn btn-outline-secondary col-md-12 mt-2">Add</button>
            </div>
        </div>

        <div class="col-md-4"></div>

    </div>

}